<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Weather App</title>
    
</head>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
}

.city-name {
    font-size: 1em;
    color: #333;
}

.weather-info {
    margin: 20px 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-size: 3em;
    margin: 10px 0;
    color: #ff6347;
}

.description {
    font-size: 1.2em;
    color: #555;
}

.additional-info {
    font-size: 1em;
    color: #777;
}
.lmao {
    display: flex;
    gap: 20px;
}
.weather-info p {
    font-size: 1em;
    color: #777;
}
</style>
<body>
    <div class = 'lmao'>
            <% arrdays.forEach((day) => { %>
                <div class="weather-app">
                    <h4 class="city-name">Hà Nội, Việt Nam</h4>
                    <div class="weather-info">
                        <p><%= day.datetime %></p>
                        <div class="temperature"><%= day.temp %>°C</div>
                        <div class="description"><%= day.conditions %></div>
                    </div>
                    <div class="additional-info">
                        <p>Humidity: <%= day.humidity %>%</p>
                        <p>Wind: <%= day.windspeed %> km/h</p>
                    </div>
                </div>
            <% }) %>
        
    </div>
</body>
</html>
